.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 60px 20px;

  @media screen and (max-width: 768px) {
    padding: 28px 16px;
  }
}

.content {
  width: var(--max-app-width);
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 48px;
}
